@import url('https://fonts.googleapis.com/css?family=Anton|Bangers|Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url(images/bg-noise-texture.png);
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

*{
  font-family: 'Roboto', sans-serif;
  /* box-shadow: 0 0 0 3px green; */
}

.App {
  min-height: 100vh;
}

header, footer {
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 38, 38);
}

header {
}

footer{
  
}

.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container p {
  text-align: center;
  margin: 5px 10px;
}

a{
  color: #FFF;
}

h1 {
  cursor: pointer;
  font-family: 'Bangers', cursive;
  font-size: 70px;
}

h2,
h3 {
  font-weight: normal;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}

.errorPage{
  font-size: 3em;
  text-align: center;
  background-color: #FFF;
  background-image: url('./images/batman.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 10px;
  height: 500px;
}

.landing {
  background-color: #EB1D27;
  background-image: url('./images/wolverine.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  padding: 25px 15% 0 15%;
}

.startingImg {
  background-image: url(images/xmen.png);
}

.leftImg {
  background-image: url(images/wolverine.png), url(images/griffes-gauche.png);
}

.rightImg {
  background-image: url(images/wolverine.png), url(images/griffes-droit.png);
}

.signupButton, .loginButton{
  height: 350px;
}

.signupButton button , .loginButton button {
  background-color: #EB1D27;
  color: #fff;
  border: 1px solid #FFF;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin: O 5px;
}

.signupButton button:hover , .loginButton button:hover{
  background-color: #fff;
  color: #EB1D27;
  border: 2px solid #EB1D27;
  cursor: pointer;
}

.signup , .login {
  background-image: url(images/bg-noise-texture.png);
  background-repeat: repeat;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px;
  height: 600px;
}

.inscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.inscription span {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 15px 0;
}

.error {
  color: #EB1D27;
  border: 1px solid #EB1D27;
}

.success {
  border: 1px solid #fff;
  color: #fff;
}

.formInscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px dotted grey;
}

.formInscription  div {
  border-bottom: 2px solid #FFF;
  padding-bottom: 5px;
  width: 100%;
  margin-top: 35px;
  position: relative;
  height: 20px;
}

.formInscription div input {
  background: none;
  text-transform: uppercase;
  color: #EB1D27;
  border: none;
  outline: none;
  margin: 0 5px 0 10px;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: 0px;
}

.formInscription div label{
  position: absolute;
  font-size: 1em;
  top: 0px;
  cursor:auto;
}

.formInscription div input:valid ~ label,
.formInscription div input:focus ~ label {
  transform: translateY(-20px);
  font-size: 0.8em;
  font-style: italic;
}

.formInscription button {
  color: #FFF;
  text-align: center;
  font-size: 0.8em;
  border-radius: 5px;
  width: 40%;
  height: 30px;
  margin: 30px 0;
  cursor: pointer;
}

.buttonInscription {
  background: #EB1D27;
  border: 2px solid #EB1D27;
}

.buttonInscription:hover{
  background: #5e0c02;
  border: 2px solid #5e0c02;
}

.buttonInscription:disabled {
  background: grey;
  border: 2px solid grey;
  cursor:auto;
}

.buttonInscription:disabled:hover{
  background-color: grey;
  border: 2px solid grey;
}

.inscription > div {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.link {
  margin: 0;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  width: fit-content;
}

.welcome {
  background-color: #FFF;
  height: 600px;
}

.welcome p {
  margin: auto;
  text-align: center;
}

.startDiv {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start {
  background-color: #EB1D27;
  border: 2px solid #EB1D27;
  border-radius: 10px;
  color: #FFF;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.start:hover {
  background-color: #5e0c02;
  border: 2px solid #5e0c02;
  cursor: pointer;
}

.deconnexion button{
  position: absolute;
  top: 20px;
  right: 5px;
  width: 100px;
  background: transparent;
  border: none;
  border-radius: 10px;
  color: #FFF;
}

.deconnexion button:hover {
  cursor: pointer;
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal div {
  border-radius: 5px;
}

.exitModal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  color: rgb(200, 200, 200);
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.levelDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.levelNumber {
  height: 40px;
  width: 40px;
  background-color: grey;
  color: #FFF;
  opacity: 0.5;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}

.levelDiv p {
  color: grey;
  opacity: 0.5;
}

.active .levelNumber {
  background-color: #EB1D27;
  opacity: 1;
}

.active p {
  color: #EB1D27;
  opacity: 1;
}

.nextLevel {
  color: green;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nextLevel p {
  margin-left: 0;
}
.nextLevel div {
  border: 1px solid green;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  border-radius: 5px;
}

.nextLevel div:hover {
  background-color: green;
  color: #FFF;
  cursor: pointer;
}